@font-face {
  font-family: "futurist";
  src: url('./assets/ForgottenFuturistCollegeRegular.ttf')
}

@font-face {
  font-family: "FuturaRegular";
  src: url('./assets/FuturaTEERegular.ttf')
}

@font-face {
  font-family: "comic";
  src: url('./assets/ComicTSCNormal.ttf')
}

.App {
  text-align: center;
  font-family: futurist;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
  }
  .left, .right {
    height: 100%;
    width: 50%;
  }
  .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #0038A8;
    position: relative;
  }
  .right {
    background: #0038A8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .name {
    display: flex;
    flex-direction: column;
  }
  .name > .handle {
    font-size: 80px;
  }
  .name > .tagline {
    font-size: 20px;
  }
  .name > .title {
    font-size: 25px;
  }
  .image > img {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
  }
  .image .name {
    display: none;
  }
  .links > div > span {
    margin: 0px 10px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .links > div > span > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .links > div > span.selected {
    /* text-decoration: underline; */
  }

  .links > div > span:hover {
    /* text-decoration: underline; */
  }

  .hamburg, .mobile-links {
    display: none;
  }
  .profile > .text {
    font-size: 30px;
    max-height: 600px;
    overflow: auto;
    min-width: 95%;
    padding: 20px 0;
  }
  .form-group > input[type=text] {
    width: 40%;
    background: transparent;
    height: 25px;
    border: 1px solid #ffffff;
    padding: 7px;
    outline: none;
    color: #ffffff;
    margin: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .left {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: #0038A8;
    width: 100%;
    height: 70px;
    flex-wrap: wrap;
    /* box-shadow: 1px 4px 4px 1px gray; */
    z-index: 9;
    /* border: 10px solid red; */
  }
  hr {
    display: none;
  }
  .right {
    background: #0038A8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .name {
    display: none;
  }
  .image .name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
    justify-self: flex-start;
  }
  .name > .handle {
    font-size: 50px;
    text-align: left;
  }
  .name > .title {
    font-size: 15px;
  }
  .image {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .image > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px; 
  }
  .links {
    display: none;
    font-family: 'FuturaRegular';
  }
  .name > .tagline {
    display: none;
  }
  .hamburg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 40px;
  }
  .mobile-links {
    width: 100%;
    z-index: 99;
    background: #ffffff;
    height: 50px;
    padding-top: 10px; 
  }
  .mobile-links > div > span {
    margin: 20px 13px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }

  .mobile-links > div > span > a {
    display: flex;
    flex-direction: column;
  }

  .mobile-links > div {
    margin: 5px 20px;
  }

  .profile > .text {
    font-size: 22px;
    overflow: auto;
    min-width: 90%;
    max-height: 600px;
    padding: 20px 0;
  }

  .form-group > input[type=text] {
    width: 90%;
    background: transparent;
    height: 25px;
    border: 1px solid #ffffff;
    padding: 7px;
    outline: none;
    color: #ffffff;
    margin: 10px;
  }
}

.profile {
  color: #ffffff;
  width: 80%;
  height: 90%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile > .heading {
  font-size: 40px;
}

.links > div > span > a, .mobile-links > div > span > a {
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill {
  height: 150px;
  width: 150px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px; 
  background: #ffffff;
  color: #0038A8;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
  border: 1px solid #ffffff;
}

.skill > .img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 80%;
  margin: auto;
}

.skill > .img > img {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: contain;
}


.skill > .details {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 20%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.overlay {
  background: #ffffff;
  opacity: 1;
  width: 100%;
  height: 80%;
  position: absolute;
  z-index: 99999;
  border-radius: 5px;
  top: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: height 1s;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.overlay:hover {
  height: 80%;
}

.animate-skill {
  animation: skill 0.3s ease 1 alternate;
}

@keyframes skill {
  0% { width: 100%; height: 0px; }
  100% { width: 100%; height: 80%; }
}

.proficiency {
  margin: auto;
}

.experience {
  margin: auto;
}

.proficiency > .title, .experience > .title, .projects > .title {
  font-size: 18px;
  width: 100%;
  height: 100px;
}

.projects {
  margin: auto;
}

.techs {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.project-logo {
  border: 1px solid #ffffff;
  width: 120px;
  height: 120px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  color: #ffffff;
  background: #0038A8;
  font-size: 80px;
}

.tech-container, .url {
  width: 96%;
  overflow: auto;
  word-wrap: break-word;
  font-size: 14px !important;
  text-decoration: none;
}
.tech-stack {
  border: 1px solid #ccc;
  margin: 2px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border-radius: 2px;
}


.form-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.form-group > input[type=email] {
  width: 90%;
  background: transparent;
  height: 25px;
  border: 1px solid #ffffff;
  padding: 7px;
  outline: none;
  color: #ffffff;
  margin: 10px;
}

.form-group > input[type=submit] {
  width: 50%;
  background: transparent;
  height: 40px;
  border: 1px solid #ffffff;
  padding: 7px;
  outline: none;
  color: #0038A8;
  margin: 10px;
  background: #ffffff;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.form-group > input[type=submit]:hover {
  background: #0038A8;
  color: #ffffff;
}

.form-group > textarea {
  width: 90%;
  background: transparent;
  height: 25px;
  border: 1px solid #ffffff;
  padding: 7px;
  outline: none;
  resize: none;
  height: 100px;
  color: #ffffff;
  margin: 10px;
}
.form-group > textarea::placeholder {
  color: #ffffff;
}

a {
  text-decoration: none;
}

input::placeholder {
  color: #ffffff;
}

.connect-links > span, .email {
  margin: 10px;
  font-size: 16px;
  color: #ffffff;
}

.connect-links > span > a {
  color: #ffffff;
}
.connect-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.connect-links > .link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connect-links > .link > span {
  width: 0%;
  height: 1px;
  background: #ffffff;
  transition: width 0.4s;
}

.connect-links > .link:hover > span {
  width: 100%;
}

.form-header {
  font-size: 18px;
}

span > a:hover .indicator {
  width: 100%;
}

.indicator {
  width: 0%;
  height: 3px;
  transition: width 0.4s;
  background: #0038A8;
}

span > a > .indicator.selected {
  width: 100%;
}
.floater {
  position: absolute;
  font-family: Comic;
  font-weight: 600;
  letter-spacing: 2px;
  bottom: -2%;
  text-transform: lowercase;
  cursor: pointer;
}

.floater-animation {
  animation: float 20s linear infinite normal;
}

@keyframes float {
  0% { transform: rotate(0deg); opacity: 1; bottom: -2% }
  100% { transform: rotate(360deg); opacity: 0; bottom: 100% }
}

.right > span.switch {
  display: flex;
  position: absolute;
  top: 10 !important;
  right: 10 !important;
  color: #fff;
  justify-content: space-around;
  align-items: center;
}

span.switch > img {
  cursor: pointer;
  opacity: 0.5;
}

span.switch > img:hover {
  opacity: 0.7 !important;
}

.carousel {
  width: 90%;
  height: 85%;
  position: relative;
}

.prev {
  position: absolute;
  left: -50px;
  top: 50%;
}

.next {
  position: absolute;
  right: -50px;
  top: 50%;
}

.carousel-card {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.dots {
  position: absolute;
  bottom: -40px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.dot:hover {
  opacity: 0.7;
}


.carousel-control {
  height: 30px;
  width: 20px;
  cursor: pointer;
}

.carousel-control:hover {
  opacity: 0.7;
}

.selected-dot {
  width: 35px;
  animation: selectedDot 0.3s linear 0s 1;
}

@keyframes selectedDot {
  0% { width: 20px; }
  100% { width: 35px; }
}

.carousel-card > .skill {
  height: 100%;
  width: 100%;
  margin: 0 !important;
}